<h1 class="center">Book: An Explainer</h1>

<p>So... what is Book? Book is a centralized place to keep documentation and notes for companies. It's meant to be open and editable, and to make collaboration across teams easy.</p>

<p>To start off, go the home page, and take a look at the three columns. Column #1 shows you the ten most recently edited posts, column #2 is your tool bar, and column #3 is your search bar, allowing you to easily browse to different tag pages.</p>

<p>The post editor features an awesome WYSIWYG text editor called Summernote, which provides a suite of text customization tooling.</p>

<p class="center"><b> Book is meant to be a living and breathing resource for company information. </b></p>
