<h1>All Posts</h1>

<% @posts.each_slice(4) do |posts| %>
  <div class="row">
    <% posts.each do |post| %>

      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading"><h3><b><%= link_to post.name, post %></b></h3></div>
          <div class="panel-footer">
            <%= link_to 'Edit', edit_post_path(post), class: "btn btn-default" %>
            <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </div>
        </div>
      </div>

    <% end %>
  </div>
<% end %>

<br>

<%= link_to 'New Post', new_post_path %>
